:before_commands: 
  - sync; sync; sync;
  - echo 3  > /proc/sys/vm/drop_caches
  - echo "" > /var/log/httpd/access_log
  - echo "" > /var/log/httpd/error_log
  - echo "" > /var/log/mysqld.log
  - /etc/init.d/httpd restart
  - /etc/init.d/mysqld restart

:measure_command: sh /tmp/measure.sh
  
:after_commands: 
  - echo "Finish."

:gather_target:
  - /var/log/httpd/access_log
  - /var/log/httpd/error_log
  - /var/log/mysqld.log

:config_dir: /tmp/configs
